.wrapper {
  margin: 0 auto;
  width: 960px; }

.paddingAdd {
  padding-left: 60px; }

.footer-hr {
  position: relative;
  height: 1px;
  padding: 0;
  background: #e5e5e5;
  margin-bottom: 22px; }
  .footer-hr:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 50px;
    background: #F57E57; }

.padLeft {
  padding-left: 0; }

.aboutUnderLine {
  margin-bottom: 60px;
  padding: 3px;
  width: 80px;
  background: #F57E57; }

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 15px;
  letter-spacing: 1px; }

.padding-rm {
  padding: 0; }

.aboutLeft {
  float: left; }

/*about start*/
#about {
  /*end About TOP*/
  /*start About content*/
  /*end About content*/
  /*about Us*/
  /*about Team*/
  /*end About TEam*/
  /*star TEStimonials*/
  /*about footer*/ }
  #about .aboutTop {
    padding-top: 35px;
    padding-bottom: 65px; }
    #about .aboutTop .container-fluid .container .row .col-md-3 .col-md-3 span {
      height: 50px;
      width: 50px;
      border-radius: 100%;
      line-height: 50px;
      text-align: center;
      color: #18AFD3;
      font-size: 1.4em;
      background: #E5E5E5; }
    #about .aboutTop .container-fluid .container .row .col-md-3 .col-md-9 a {
      color: #333333;
      font-weight: 500;
      line-height: 26px;
      font-size: 1em; }
  #about .aboutContent {
    font-family: "Oswald", sans-serif;
    position: relative;
    background: url(..//img/aboutSlide.jpg) no-repeat;
    background-position: center;
    background-size: cover; }
    #about .aboutContent .container-fluid .aboutNav {
      z-index: 100;
      position: relative;
      top: -30px;
      font-family: "Oswald", sans-serif; }
      #about .aboutContent .container-fluid .aboutNav .container .row .navBar {
        border-radius: 7px;
        box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.2);
        background: #18AFD3; }
        #about .aboutContent .container-fluid .aboutNav .container .row .navBar .searchHelp .navInput {
          display: none;
          width: 100%;
          position: absolute;
          top: 0;
          right: 0;
          border-radius: 7px;
          background: #18AFD3;
          border: transparent;
          padding: 11px 15px;
          color: #fff;
          font-size: 26px; }
        #about .aboutContent .container-fluid .aboutNav .container .row .navBar .searchHelp .removeSearch {
          color: #fff;
          position: absolute;
          right: 2%;
          display: none;
          top: 4px;
          cursor: pointer;
          padding: 15px;
          font-size: 1.2em; }
        #about .aboutContent .container-fluid .aboutNav .container .row .navBar .searchHelp .navNews {
          display: none;
          position: absolute;
          left: 15px;
          color: white;
          pointer-events: none;
          font-size: 26px;
          top: 10px; }
        #about .aboutContent .container-fluid .aboutNav .container .row .navBar ul {
          transition: .5s;
          padding: 0;
          margin: 0;
          list-style: none; }
          #about .aboutContent .container-fluid .aboutNav .container .row .navBar ul .galleryDrop:hover ul {
            display: block; }
          #about .aboutContent .container-fluid .aboutNav .container .row .navBar ul .galleryDrop:hover .dropIcon {
            display: block; }
          #about .aboutContent .container-fluid .aboutNav .container .row .navBar ul li {
            float: left;
            line-height: 100%;
            cursor: pointer;
            padding: 20px 24px;
            font-size: 16px;
            position: relative; }
            #about .aboutContent .container-fluid .aboutNav .container .row .navBar ul li ul.drop-down {
              position: absolute;
              top: 100%;
              left: 0%;
              width: 100%;
              padding: 0;
              display: none; }
              #about .aboutContent .container-fluid .aboutNav .container .row .navBar ul li ul.drop-down li {
                position: relative;
                background-color: #f9f9f9;
                min-width: 220px;
                font-size: 1.06em;
                padding: 15px 10px;
                color: black;
                overflow: auto;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
                #about .aboutContent .container-fluid .aboutNav .container .row .navBar ul li ul.drop-down li .iconFa {
                  color: #F57E57;
                  display: none; }
                #about .aboutContent .container-fluid .aboutNav .container .row .navBar ul li ul.drop-down li a {
                  font-size: .9em;
                  color: #18AFD3;
                  position: relative;
                  padding: 10px 15px;
                  left: 0; }
            #about .aboutContent .container-fluid .aboutNav .container .row .navBar ul li:hover {
              background: #F57E57; }
            #about .aboutContent .container-fluid .aboutNav .container .row .navBar ul li .navSearch {
              font-size: 1em;
              position: absolute;
              right: 15px;
              top: 7px;
              padding: 15px 0; }
            #about .aboutContent .container-fluid .aboutNav .container .row .navBar ul li:last-child {
              background: transparent; }
          #about .aboutContent .container-fluid .aboutNav .container .row .navBar ul a {
            text-decoration: none;
            color: #F9FDFE;
            font-size: 1em;
            font-weight: 400; }
          #about .aboutContent .container-fluid .aboutNav .container .row .navBar ul i {
            font-size: .5em;
            color: #fff;
            line-height: 10px;
            margin-left: 5px; }
        #about .aboutContent .container-fluid .aboutNav .container .row .navBar .activeNav {
          background: #F57E57; }
      #about .aboutContent .container-fluid .aboutNav .container .row .pageDown {
        transition: all .2s ease-in-out;
        display: none;
        background: #FFF;
        position: absolute;
        min-width: 1165px;
        top: 100%;
        z-index: -66;
        font-family: "Lato", Helvetica, Arial, sans-serif; }
        #about .aboutContent .container-fluid .aboutNav .container .row .pageDown .container-fluid .row .col-md-4 h4 {
          font-weight: 500; }
        #about .aboutContent .container-fluid .aboutNav .container .row .pageDown .container-fluid .row .col-md-4 ul {
          padding: 0;
          list-style: none; }
          #about .aboutContent .container-fluid .aboutNav .container .row .pageDown .container-fluid .row .col-md-4 ul li {
            position: relative;
            cursor: pointer;
            font-weight: 500;
            line-height: 45px; }
            #about .aboutContent .container-fluid .aboutNav .container .row .pageDown .container-fluid .row .col-md-4 ul li:hover a {
              color: #F57E57; }
          #about .aboutContent .container-fluid .aboutNav .container .row .pageDown .container-fluid .row .col-md-4 ul .dropIcon {
            color: #F57E57;
            font-size: .7em;
            display: none;
            position: relative;
            pointer-events: none; }
          #about .aboutContent .container-fluid .aboutNav .container .row .pageDown .container-fluid .row .col-md-4 ul a {
            text-decoration: none;
            position: relative;
            left: 0;
            color: #18AFD3;
            padding: 12px 0px; }
    #about .aboutContent .container-fluid .aboutModern:nth-child(2) {
      color: #fff; }
      #about .aboutContent .container-fluid .aboutModern:nth-child(2) ul {
        padding-bottom: 20px;
        letter-spacing: 0.04em; }
        #about .aboutContent .container-fluid .aboutModern:nth-child(2) ul li a {
          color: #fff; }
        #about .aboutContent .container-fluid .aboutModern:nth-child(2) ul li .iconArrow {
          color: #E5E5E5; }
      #about .aboutContent .container-fluid .aboutModern:nth-child(2) h1 {
        padding: 55px 0;
        font-size: 80px;
        font-weight: 400;
        line-height: 1.25;
        letter-spacing: 0.04em; }
  #about .aboutUs .container .row {
    padding: 50px 0;
    margin-bottom: 30px; }
    #about .aboutUs .container .row .col-md-8 .col-md-12 h3 {
      padding: 10px 0; }
    #about .aboutUs .container .row .col-md-8 .col-md-12 p {
      color: #868686;
      font-size: 15px;
      line-height: 1.6;
      letter-spacing: .3px; }
    #about .aboutUs .container .row .col-md-8 .col-md-12 .aboutUnder {
      padding: 3px;
      width: 110px;
      margin-bottom: 55px;
      background: #F57E57; }
    #about .aboutUs .container .row .aboutScot h6 {
      color: #434445;
      padding-top: 20px;
      letter-spacing: 0.06em;
      font-size: 18px;
      font-weight: 600; }
    #about .aboutUs .container .row .aboutScot .col-md-8 h5 {
      font-size: 18px;
      font-weight: 600;
      color: #18AFD3; }
    #about .aboutUs .container .row .aboutScot .col-md-8 em {
      color: #868686; }
    #about .aboutUs .container .row .aboutScot .col-md-8 .fa-phone {
      font-size: 1.8em;
      color: #18AFD3;
      padding-top: 18px; }
    #about .aboutUs .container .row .aboutScot .col-md-8 b {
      font-size: 15px; }
    #about .aboutUs .container .row .aboutScot .medicalInfo {
      position: relative;
      top: 10px;
      left: 15px;
      margin-bottom: 25px;
      font-size: 15px;
      line-height: 22px;
      color: #868686; }
    #about .aboutUs .container .row .aboutScot .aboutBtn {
      font-size: 16px;
      background: #F57E57;
      border: transparent;
      padding: 13px 20px;
      border-radius: 30px; }
  #about .aboutAchievments {
    background: #f1f3f9; }
    #about .aboutAchievments #achivback .col-md-5 {
      background: url(..//img/about3.jpg) no-repeat;
      background-position: center;
      background-size: cover;
      height: 525px; }
    #about .aboutAchievments .rightAchive {
      padding-top: 7.5%;
      padding-left: 6%; }
      #about .aboutAchievments .rightAchive .achiveHood h1 {
        font-size: 1.9em;
        font-weight: 600; }
      #about .aboutAchievments .rightAchive .row {
        padding-bottom: 6.8%; }
        #about .aboutAchievments .rightAchive .row .col-lg-6 .col-md-3 span {
          height: 55px;
          width: 55px;
          border-radius: 100%;
          line-height: 54px;
          text-align: center;
          background: #F57E57;
          border: 2px solid white;
          font-size: 1.3em; }
          #about .aboutAchievments .rightAchive .row .col-lg-6 .col-md-3 span i {
            color: #fff; }
        #about .aboutAchievments .rightAchive .row .col-md-8 span p {
          color: #18AFD3;
          font-size: 1.6em;
          font-weight: 600; }
        #about .aboutAchievments .rightAchive .row .col-md-8 span .achivSec {
          margin-top: 15px; }
  #about .aboutTeam {
    font-family: "Oswald", sans-serif; }
    #about .aboutTeam .container-fluid .container .aboutAllView {
      transition: .25s;
      position: relative;
      top: 0; }
    #about .aboutTeam .container-fluid .container .aboutProfile {
      cursor: pointer;
      background: #F57E57;
      padding: 20px 30px;
      position: absolute;
      bottom: -50px;
      width: 100%; }
      #about .aboutTeam .container-fluid .container .aboutProfile h5 {
        margin: 0;
        color: white; }
    #about .aboutTeam .container-fluid .container .row .col-md-12 .container {
      text-align: center; }
      #about .aboutTeam .container-fluid .container .row .col-md-12 .container .aboutView {
        background: #F57E57;
        border: none;
        padding: 13px 35px;
        margin: 60px 0;
        font-size: 1.1em;
        border-radius: 25px; }
        #about .aboutTeam .container-fluid .container .row .col-md-12 .container .aboutView:hover {
          background: #18AFD3; }
    #about .aboutTeam .container-fluid .container .row .col-md-12 .row {
      margin-bottom: 30px; }
      #about .aboutTeam .container-fluid .container .row .col-md-12 .row .col-lg-3 {
        overflow: hidden; }
        #about .aboutTeam .container-fluid .container .row .col-md-12 .row .col-lg-3 img {
          width: 100%; }
        #about .aboutTeam .container-fluid .container .row .col-md-12 .row .col-lg-3 .aboutTeamMember {
          font-size: 1.1em;
          background: #18AFD3;
          padding: 30px 0px;
          padding-left: 30px;
          position: relative; }
          #about .aboutTeam .container-fluid .container .row .col-md-12 .row .col-lg-3 .aboutTeamMember h5 {
            font-weight: 700;
            font-size: 20px;
            color: #fff;
            pointer-events: none; }
          #about .aboutTeam .container-fluid .container .row .col-md-12 .row .col-lg-3 .aboutTeamMember em {
            font-size: 14px;
            color: #fff;
            opacity: 0.8;
            pointer-events: none; }
    #about .aboutTeam .container-fluid .container .row .col-md-12 h1 {
      padding-top: 35px;
      text-align: center;
      font-weight: 400;
      font-size: 3.3em;
      color: #333333; }
    #about .aboutTeam .container-fluid .container .row .col-md-12 .aboutUnderLine {
      position: relative;
      top: 10px;
      left: 46%; }
  #about .aboutTestimonials .container-fluid {
    background: #F1F3F9;
    padding-bottom: 50px; }
    #about .aboutTestimonials .container-fluid .container .dotItem .col-md-12 {
      text-align: center; }
      #about .aboutTestimonials .container-fluid .container .dotItem .col-md-12 .dot {
        cursor: pointer;
        display: inline-block;
        padding: 2px 5px; }
        #about .aboutTestimonials .container-fluid .container .dotItem .col-md-12 .dot i {
          color: #18AFD3;
          pointer-events: none; }
    #about .aboutTestimonials .container-fluid .container .row .col-md-12 {
      text-align: center;
      padding: 80px 0; }
      #about .aboutTestimonials .container-fluid .container .row .col-md-12 .aboutUnderLine {
        left: 46%;
        width: 100px;
        margin: 20px 0;
        position: relative; }
    #about .aboutTestimonials .container-fluid .container .row .testiPeople {
      min-height: 200px;
      position: relative;
      display: inline-block;
      width: 100%; }
      #about .aboutTestimonials .container-fluid .container .row .testiPeople .col-md-4 .col-md-2 {
        padding: 0 20px; }
        #about .aboutTestimonials .container-fluid .container .row .testiPeople .col-md-4 .col-md-2 i {
          color: #F57E57; }
      #about .aboutTestimonials .container-fluid .container .row .testiPeople .col-md-4 .col-md-10 em {
        color: #868686;
        font-weight: 400;
        font-size: 0.9em; }
      #about .aboutTestimonials .container-fluid .container .row .testiPeople .col-md-4 .col-md-10 .container-fluid {
        padding: 20px 0; }
        #about .aboutTestimonials .container-fluid .container .row .testiPeople .col-md-4 .col-md-10 .container-fluid .col-md-9 h5 {
          color: #18AFD3;
          font-size: 20px;
          font-weight: 600;
          margin: 0;
          padding: 3px 0; }
  #about .aboutFooter {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    background: #038EAF;
    padding-top: 4%; }
    #about .aboutFooter .container-fluid .container .row .col-md-4 .container-fluid ul {
      padding: 30% 0; }
      #about .aboutFooter .container-fluid .container .row .col-md-4 .container-fluid ul li {
        list-style: none;
        font-size: 18px;
        float: left;
        color: #868686;
        margin-right: 15px;
        background: white;
        height: 45px;
        width: 45px;
        text-align: center;
        line-height: 43px;
        border-radius: 100%; }
    #about .aboutFooter .container-fluid .container .row .col-md-4 .container-fluid p {
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0.04em;
      color: rgba(255, 255, 255, 0.5); }
    #about .aboutFooter .container-fluid .container .row .col-md-4 h5 {
      font-size: 20px;
      color: #FFF;
      font-weight: 400; }
    #about .aboutFooter .container-fluid .container .row .col-md-4 a {
      color: #fff;
      font-size: 0.9em;
      font-weight: 500; }
    #about .aboutFooter .container-fluid .container .row .col-md-4 .infoDemo {
      color: #F57E57;
      font-size: 15px; }
    #about .aboutFooter .container-fluid .container .row .col-md-4 span {
      padding: 10px 5px;
      color: #F57E57; }
    #about .aboutFooter .container-fluid .container .row .col-md-4 p {
      font-size: 1em;
      color: rgba(255, 255, 255, 0.2);
      padding-bottom: 20px;
      padding-top: 10px; }
    #about .aboutFooter .container-fluid .container .row .col-md-4 .aboutForm {
      padding: 25px 0;
      position: relative; }
    #about .aboutFooter .container-fluid .container .row .col-md-4 .btnAbout {
      background: #F57E57;
      padding: 13.5px 30px;
      font-weight: 500;
      border: transparent;
      position: absolute;
      bottom: 15px;
      font-size: 18px;
      right: 0; }

.dotActive {
  border-radius: 100%;
  background: rgba(24, 175, 211, 0.22); }

/*about end*/

/*# sourceMappingURL=about-css.css.map */
