.padding-rm {
  padding: 0; }

.paddingRm-left {
  padding-left: 0; }

.paddingRm-right {
  padding-right: 0; }

.navFixed {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  padding-left: 12%; }

body {
  transition: all 2s; }

.footer-hr {
  position: relative;
  height: 1px;
  padding: 0;
  background: #e5e5e5;
  margin-bottom: 22px; }
  .footer-hr:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 50px;
    background: #F57E57; }

body {
  font-family: "Lato", Helvetica, Arial, sans-serif; }

.contactUnderLine {
  margin-bottom: 60px;
  padding: 2px;
  width: 80px;
  background: #F57E57; }

#contact .contactTop {
  padding-top: 35px;
  padding-bottom: 5px; }
  #contact .contactTop .container .row .col-md-3 span {
    margin-right: 10px; }
    #contact .contactTop .container .row .col-md-3 span a {
      color: #333333;
      font-weight: 400;
      line-height: 26px;
      font-size: 1.1em; }
    #contact .contactTop .container .row .col-md-3 span i {
      color: #18AFD3; }
    #contact .contactTop .container .row .col-md-3 span:first-child {
      font-size: .8em;
      height: 50px;
      width: 50px;
      border-radius: 100%;
      line-height: 60px;
      text-align: center;
      background: #E5E5E5; }
#contact .aboutNav {
  z-index: 100;
  position: relative;
  top: 30px;
  font-family: "Oswald", sans-serif; }
  #contact .aboutNav .container .row .navBar {
    box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    background: #18AFD3; }
    #contact .aboutNav .container .row .navBar .searchHelp .navInput {
      display: none;
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 7px;
      background: #18AFD3;
      border: transparent;
      padding: 11px 15px;
      color: #fff;
      font-size: 26px; }
    #contact .aboutNav .container .row .navBar .searchHelp .removeSearch {
      color: #fff;
      position: absolute;
      right: 2%;
      display: none;
      top: 4px;
      cursor: pointer;
      padding: 15px;
      font-size: 1.2em; }
    #contact .aboutNav .container .row .navBar .searchHelp .navNews {
      display: none;
      position: absolute;
      left: 15px;
      color: white;
      pointer-events: none;
      font-size: 26px;
      top: 10px; }
    #contact .aboutNav .container .row .navBar ul {
      transition: .5s;
      padding: 0;
      margin: 0;
      list-style: none; }
      #contact .aboutNav .container .row .navBar ul .galleryDrop:hover ul {
        display: block; }
      #contact .aboutNav .container .row .navBar ul .galleryDrop:hover .dropIcon {
        display: block; }
      #contact .aboutNav .container .row .navBar ul li {
        float: left;
        line-height: 100%;
        cursor: pointer;
        padding: 20px 24px;
        font-size: 18px;
        position: relative; }
        #contact .aboutNav .container .row .navBar ul li .activeNav {
          background: #F57E57; }
        #contact .aboutNav .container .row .navBar ul li .navSearch {
          font-size: 1em;
          position: absolute;
          right: 15px;
          top: 7px;
          color: red;
          z-index: 110;
          padding: 15px 0; }
        #contact .aboutNav .container .row .navBar ul li ul.drop-down {
          position: absolute;
          top: 100%;
          left: 0%;
          width: 100%;
          padding: 0;
          display: none; }
          #contact .aboutNav .container .row .navBar ul li ul.drop-down li {
            position: relative;
            background-color: #fff;
            min-width: 200px;
            color: black;
            overflow: auto;
            font-size: 1.1em;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
            #contact .aboutNav .container .row .navBar ul li ul.drop-down li .iconFa {
              color: #F57E57;
              display: none; }
            #contact .aboutNav .container .row .navBar ul li ul.drop-down li a {
              font-size: 1em;
              color: #18AFD3;
              position: relative;
              left: 0;
              padding: 10px 10px; }
        #contact .aboutNav .container .row .navBar ul li:hover {
          background: #F57E57; }
      #contact .aboutNav .container .row .navBar ul a {
        text-decoration: none;
        color: #F9FDFE;
        font-weight: 400; }
      #contact .aboutNav .container .row .navBar ul i {
        font-size: .5em;
        color: #fff;
        margin-left: 5px; }
    #contact .aboutNav .container .row .navBar .activeNav {
      background: #F57E57; }
  #contact .aboutNav .container .row .pageDown {
    transition: all .2s ease-in-out;
    display: none;
    background: #FFF;
    position: absolute;
    min-width: 1165px;
    top: 100%;
    z-index: -66;
    font-family: "Lato", Helvetica, Arial, sans-serif; }
    #contact .aboutNav .container .row .pageDown .container-fluid .row .col-md-4 h4 {
      font-weight: 500; }
    #contact .aboutNav .container .row .pageDown .container-fluid .row .col-md-4 ul {
      padding: 0;
      list-style: none; }
      #contact .aboutNav .container .row .pageDown .container-fluid .row .col-md-4 ul li {
        position: relative;
        cursor: pointer;
        font-weight: 500;
        padding: 5px 0;
        line-height: 38px; }
        #contact .aboutNav .container .row .pageDown .container-fluid .row .col-md-4 ul li:hover a {
          color: #F57E57; }
        #contact .aboutNav .container .row .pageDown .container-fluid .row .col-md-4 ul li .navSearch {
          font-size: 1em;
          position: absolute;
          right: 15px;
          top: 7px;
          padding: 15px 0; }
      #contact .aboutNav .container .row .pageDown .container-fluid .row .col-md-4 ul .dropIcon {
        color: #F57E57;
        font-size: .7em;
        display: none;
        position: relative;
        pointer-events: none; }
      #contact .aboutNav .container .row .pageDown .container-fluid .row .col-md-4 ul a {
        text-decoration: none;
        position: relative;
        font-size: 1.1em;
        left: 0;
        color: #18AFD3;
        padding: 15px 0px; }
#contact #contactImg {
  background: url(..//img/aboutSlide.jpg);
  background-position: center;
  background-size: cover;
  z-index: -5; }
  #contact #contactImg .container {
    letter-spacing: 0.03em; }
    #contact #contactImg .container h1 {
      font-family: 'PT Sans', sans-serif;
      padding-top: 7%;
      color: white;
      font-weight: 500;
      font-size: 80px;
      line-height: 1.85; }
    #contact #contactImg .container ul {
      list-style-type: none;
      padding-top: 2.7%;
      padding-bottom: 25px;
      font-size: 13px;
      font-weight: 500; }
      #contact #contactImg .container ul li {
        color: #fff; }
        #contact #contactImg .container ul li i {
          color: #E5E5E5; }
        #contact #contactImg .container ul li a {
          color: #fff; }
#contact .contactTouch {
  padding: 60px 0; }
  #contact .contactTouch .container #comment {
    margin: 0px -15px;
    width: 101.5%; }
  #contact .contactTouch .container .col-md-8 p {
    font-size: 16px;
    font-weight: 500;
    color: #bdbdbd; }
  #contact .contactTouch .container .col-md-8 .form-group {
    color: #bdbdbd; }
  #contact .contactTouch .container .col-md-8 .row button {
    margin: 20px 0;
    font-size: 16px;
    background: #F57E57;
    border: transparent;
    padding: 12px 20px;
    border-radius: 30px; }
    #contact .contactTouch .container .col-md-8 .row button:hover {
      background: #18AFD3; }
  #contact .contactTouch .container .col-md-8 .row .col-md-6 .form-control {
    padding: 20px 0; }
  #contact .contactTouch .container .col-md-4 {
    font-family: "Oswald", sans-serif; }
    #contact .contactTouch .container .col-md-4 .row {
      padding-left: 15px;
      padding-bottom: 40px; }
      #contact .contactTouch .container .col-md-4 .row h5 {
        font-size: 19px;
        font-weight: 400;
        color: #333333; }
      #contact .contactTouch .container .col-md-4 .row:first-child ul {
        padding: 0; }
        #contact .contactTouch .container .col-md-4 .row:first-child ul li {
          list-style: none;
          font-size: 18px;
          float: left;
          color: #868686;
          margin-right: 15px;
          background: #E5E5E5;
          height: 40px;
          width: 40px;
          text-align: center;
          line-height: 39px;
          border-radius: 100%;
          cursor: pointer; }
          #contact .contactTouch .container .col-md-4 .row:first-child ul li:hover {
            background: #F57E57;
            color: #fff; }
      #contact .contactTouch .container .col-md-4 .row span {
        display: inline-block; }
        #contact .contactTouch .container .col-md-4 .row span i {
          color: #F57E57;
          margin: 2px 15px;
          font-size: 1.4em; }
        #contact .contactTouch .container .col-md-4 .row span a {
          color: #565757;
          font-size: 15px; }
#contact .contactFooter .container-fluid {
  background: #038EAF; }
  #contact .contactFooter .container-fluid .container .col-md-12 .row {
    padding: 50px 0; }
    #contact .contactFooter .container-fluid .container .col-md-12 .row .col-md-4 h5 {
      padding-bottom: 10px;
      font-size: 20px;
      color: #FFF;
      font-weight: 500; }
    #contact .contactFooter .container-fluid .container .col-md-12 .row .col-md-4:first-child .container-fluid ul {
      padding: 28% 0; }
      #contact .contactFooter .container-fluid .container .col-md-12 .row .col-md-4:first-child .container-fluid ul li {
        list-style: none;
        font-size: 18px;
        float: left;
        color: #868686;
        margin-right: 15px;
        background: white;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 100%; }
    #contact .contactFooter .container-fluid .container .col-md-12 .row .col-md-4:first-child .container-fluid p {
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 0.04em;
      color: rgba(255, 255, 255, 0.5); }
    #contact .contactFooter .container-fluid .container .col-md-12 .row .col-md-4:nth-child(2) a {
      color: #fff;
      font-size: 15px;
      font-weight: 500; }
    #contact .contactFooter .container-fluid .container .col-md-12 .row .col-md-4:nth-child(2) .infoDemo {
      color: #F57E57;
      font-size: 15px; }
    #contact .contactFooter .container-fluid .container .col-md-12 .row .col-md-4:nth-child(2) span {
      padding: 10px 0px;
      color: #F57E57;
      padding-right: 10px;
      font-size: 1.4em; }
    #contact .contactFooter .container-fluid .container .col-md-12 .row .col-md-4:nth-child(3) p {
      font-size: 16px;
      color: rgba(255, 255, 255, 0.2);
      padding-bottom: 16px; }
    #contact .contactFooter .container-fluid .container .col-md-12 .row .col-md-4:nth-child(3) .aboutForm {
      padding: 20px 0;
      position: relative; }
    #contact .contactFooter .container-fluid .container .col-md-12 .row .col-md-4:nth-child(3) .btnAbout {
      background: #F57E57;
      padding: 8.5px 30px;
      font-weight: 500;
      border: transparent;
      position: absolute;
      bottom: 15px;
      font-size: 18px;
      right: 0; }

/*# sourceMappingURL=contact.css.map */
