$orange:#F57E57;
$skyBlue:#18AFD3;
$lightGray:#E5E5E5;
$gray: rgb(134, 134, 134);
$helvetica:"Lato",
Helvetica,
Arial,
sans-serif;
$oswald: 'Oswald',
sans-serif;


.paddingAdd {
    padding-left: 60px;
}
.footer-hr {
    position: relative;
    height: 1px;
    padding: 0;
    background: #e5e5e5;
    margin-bottom: 22px;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 1px;
        width: 50px;
        background: $orange;
    }
}
.navFixed{
  position: fixed;
  top:0;
  width: 100%;
  // left:0;
    
}

.padLeft {
    padding-left: 0;
}

.aboutUnderLine {
    margin-bottom: 60px;
    padding: 3px;
    width: 80px;
    background: $orange;
}

body {
    font-family: $helvetica;
}

.padding-rm {
    padding: 0;
}

.aboutLeft {
    float: left;
}


/*about start*/

#about {
#mainModal{
    z-index: 90;
  }
    .contactTop {
      .navbar-toggle{
      .icon-dot{
          display: block;
          width: 5px;
          height: 5px;
          position: relative;
          top:-14px;
          margin-top: 4px;
          background: black;
          border-radius: 100%;
      }
    }
        padding-top: 35px;
        padding-bottom: 5px;
            .container {
                .row {
                  .collapseMain{
                    position: absolute;
                    z-index: 220;
                    right: 0;
                    top:25%;
                    width: 295px;
                    background: #fff;
                    box-shadow:0 2px 13px 0 rgba(0, 0, 0, 0.15);
                  }
                    .col-md-3 {
                        span {
                            a {
                                color: #333333;
                                font-weight: 400;
                                line-height: 26px;
                                font-size: 1em;
                            }
                            i {
                                color: $skyBlue;
                            }
                            margin-right: 10px;
                            &:first-child {
                                font-size: .8em;
                                height: 50px;
                                width: 50px;
                                border-radius: 100%;
                                line-height: 60px;
                                text-align: center;
                                background: $lightGray;
                            }
                        }
                    }
                }
            }
        }
 .aboutNav {
    z-index: 100;
    position: relative;
    top: 30px;
    font-family:$oswald;
    .container {
        .row {
            .navBar {
                box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.2);
                border-radius: 7px;
                background: #18AFD3;
            .searchHelp{
                .navInput{
                  display: none;
                  width: 100%;
                  position: absolute;
                  top: 0;
                  right: 0;
                  border-radius: 7px;
                  background: $skyBlue;
                  border: transparent;
                  padding: 12px 15px;
                  color:#fff;
                  font-size: 26px;
                }
                .removeSearch{
                  color:#fff;
                  position: absolute;
                  right: 3%;
                  display: none;
                  top:4px;
                  cursor: pointer;
                  padding: 15px;
                  font-size: 1.2em;
                }
                .navNews{
                  display: none;
                  position: absolute;
                  left: 15px;
                  color: white;
                  pointer-events:none;
                  font-size: 26px;
                  top:10px;
                }
              }
                ul {
                    transition: .5s;
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    .galleryDrop{
                      &:hover{
                        ul{
                        display: block;
                      }
                      .dropIcon{
                        display: block;
                      }
                    }
                }
                    li {
                    
                  .activeNav{
                        background: $orange;
                }
                  .navSearch{
                          font-size: .7em;
                          position: absolute;
                          right: 20px;
                          top:8px;
                          color:#fff;
                          padding: 15px 0;
                        }
                     
                      ul.drop-down{
                       position: absolute;
                       top:100%;
                       left:0%;
                       width: 100%;
                       padding:0;
                       display: none;
                         
                        li{
                         position: relative;
                         background-color: #fff;
                         min-width: 225px;
                         color:black;
                         padding: 18px 10px;
                         overflow: auto;
                         font-size: .9em;
                         box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                  .iconFa{
                    color:$orange;
                    display: none;
                  }
                  a{
                     color:$skyBlue;
                    font-weight: 400;
                    position: relative;
                    left:0;
                    padding: 10px 10px; 
                  }
                        }
                      }
                        &:hover {
                         background: $orange;
                        }
                        float: left;
                        line-height: 100%;
                        cursor: pointer;
                        padding:1.25em 1.45em;
                        font-weight: 900;
                        font-size: 1.23em;
                        position: relative;
                        &:last-child{
                          background: transparent;
                        }

                    }
                    a {
                        text-decoration: none;
                        color: #F9FDFE;
                        font-weight: 400;
                    }
                    i {
                        font-size: .5em;
                        color: #fff;
                        margin-left: 5px;
                    }
                }
                .activeNav{
                  background: $orange;
                }
            }
            .pageDown {
                transition:all .2s ease-in-out;
                display: none;
                background: #FFF;
                position: absolute;
                min-width: 1165px;
                top:100%;
                z-index: -66;
                font-family: $helvetica;
                .container-fluid {
                    .row {
                        .col-md-4 {
                            h4 {
                                font-weight: 500;
                            }
                            ul {
                                padding: 0;
                                list-style: none;
                                li {
                                  &:hover{
                                    a{
                                  color: $orange;
                                  }
                                }
                                    position: relative;
                                    cursor: pointer;
                                    font-weight: 500;
                                    padding: 5px 0;
                                    line-height: 38px;
                                .navSearch{
                                     font-size: 1em;
                                     position: absolute;
                                     right: 15px;
                                     top:7px;
                                     padding: 15px 0;
                                    }
                                }
                                .dropIcon {
                                    color: $orange;
                                    font-size: .7em;
                                    display: none;
                                    position: relative;
                                    pointer-events: none;
                                }
                                a {
                                    text-decoration: none;
                                    position: relative;
                                    font-size: 1.1em;
                                    left: 0;
                                    color:$skyBlue;
                                    padding: 15px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
  }
    /*end About TOP*/
    /*start About content*/
    .aboutContent {
        font-family: $oswald;
        position: relative;
        background: url(..//img/aboutSlide.jpg) no-repeat;
        background-position: center;
        background-size: cover;       
       .aboutModern {
                    color: #fff;
                  
                    ul {
                      list-style-type: none;
                      padding-top: 2.7%;
                      padding-bottom: 25px;
                      font-size: 14px;
                      font-weight: 400;
                        li {
                            a {
                                color: #fff;
                            }
                            .iconArrow {
                             color: $lightGray;
                            }
                        }
                    }
                    h1 {
                       padding-top: 7%;
                       color: white;
                       letter-spacing: 0.06em;
                       font-weight: 400;
                       font-size: 5.8em;
                       line-height: 1.85;
                    }
                
            }
        
    }
    /*end About content*/
    /*about Us*/
    .aboutUs {
        .container {
            .row {
                padding: 50px 0;
                margin-bottom: 30px;
                .col-md-8 {
                    .col-md-12 {
                        h3 {
                            padding: 10px 0;
                        }
                        p {
                            color: $gray;
                            font-size: 15px;
                            line-height: 1.6;
                            letter-spacing: .3px;
                        }
                        .aboutUnder {
                            padding: 3px;
                            width: 110px;
                            margin-bottom: 55px;
                            background: $orange;
                        }
                    }
                }
                .aboutScot {
                    h6 {
                        color: #434445;
                        padding-top: 20px;
                        letter-spacing: 0.06em;
                        font-size: 18px;
                        font-weight: 600;
                    }
                    .col-md-4 {}
                    .col-md-8 {
                        h5 {
                            font-size: 18px;
                            font-weight: 600;
                            color: #18AFD3;
                          }
                        em {
                            color: $gray;
                        }
                        .fa-phone {
                            font-size: 1.8em;
                            color: #18AFD3;
                            padding-top: 18px;
                        }
                        b {
                            font-size: 15px;
                        }
                    }
                    .medicalInfo {
                        position: relative;
                        top: 10px;
                        left: 15px;
                        margin-bottom: 25px;
                        font-size: 15px;
                        line-height: 22px;
                        color: $gray;
                    }
                    .aboutBtn {
                        font-size: 16px;
                        background: $orange;
                        border: transparent;
                        padding: 13px 20px;
                        border-radius: 30px;
                    }
                }
            }
        }
    }
    .aboutAchievments {
        background:#f1f3f9;
        #achivback{
            .col-md-5{
               background: url(..//img/about3.jpg)no-repeat;
               background-position: center;
               background-size: cover;
               height: 525px;
            }
        }
          
        .rightAchive { 
                padding-top: 7.5%;
                padding-left:6%;
               .achiveHood{
                h1{
                  font-size: 1.9em;
                  font-weight: 600;
                }
                }
            .row {
              padding-bottom: 6.8%;
                .col-lg-6 {
                  .col-md-3{
                          span {
                            height: 55px;
                            width: 55px;  
                            border-radius: 100%;
                            line-height: 54px;
                            text-align: center;
                            background: $orange;
                            border: 2px solid white;
                            font-size: 1.3em;
                               i{

                                color: #fff;  
                           }
                        }
                      }
                    }
                      .col-md-8 {
                        span{
                          p{
                            color:$skyBlue;
                            font-size: 1.8em;
                            font-weight: 600;
                          }
                          .achiveFirst{
                            // margin-top: -10px;
                          }
                          .achivSec{
                            margin-top: 15px;
                          }
                      }
                    }
                }
            }
        }
  
    /*about Team*/
    .aboutTeam {
        font-family: $oswald;
        .container-fluid {
            .container {
                .aboutAllView {
                    transition: .25s;
                    position: relative;
                    top: 0;
                }
                .aboutProfile {
                    cursor: pointer;
                    background: $orange;
                    padding: 20px 30px;
                    position: absolute;
                    bottom: -50px;
                    width: 100%;
                    h5 {
                        margin: 0;
                        color: white;
                    }
                }
                .row {
                    .col-md-12 {
                        .container {
                            text-align: center;
                            .aboutView {
                                background: $orange;
                                border: none;
                                padding: 13px 35px;
                                margin: 60px 0;
                                font-size: 1.1em;
                                border-radius: 25px;
                                &:hover {
                                    background: $skyBlue;
                                }
                            }
                        }
                        .row {
                            margin-bottom: 30px;
                            .col-lg-3 {
                              img{
                                width: 100%;
                              }
                                overflow: hidden;
                                .aboutTeamMember {
                                    font-size: 1.1em;
                                    background: $skyBlue;
                                    padding: 30px 0px;
                                    padding-left:30px;
                                    position: relative;
                                    h5 {
                                        font-weight: 700;
                                        font-size: 20px;
                                        color: #fff;
                                        pointer-events: none;
                                    }
                                    em {
                                        font-size: 14px;
                                        color: #fff;
                                        opacity: 0.8;
                                        pointer-events: none;
                                    }
                                }
                            }
                        }
                        h1 {
                            padding-top: 35px;
                            text-align: center;
                            font-weight: 400;
                            font-size: 3.3em;
                            color: #333333;
                        }
                        .aboutUnderLine {
                            position: relative;
                            top: 10px;
                            left: 46%;
                        }
                    }
                }
            }
        }
    }
    /*end About TEam*/
    /*star TEStimonials*/
    .aboutTestimonials {
        .container-fluid {
            background: #F1F3F9;
            padding-bottom: 50px;
            .container {
                .dotItem {
                    .col-md-12 {
                        text-align: center;
                        .dot {
                            cursor: pointer;
                            display: inline-block;
                            padding: 2px 5px;
                            i {
                                color: $skyBlue;
                                pointer-events: none;
                            }
                        }
                    }
                }
                .row {
                    .col-md-12 {
                        text-align: center;
                        padding: 80px 0;
                        .aboutUnderLine {
                            left: 46%;
                            width: 100px;
                            margin: 20px 0;
                            position: relative;
                        }
                    }
                }
                .row {
                    .testiPeople {
                        min-height: 200px;
                        position: relative;
                        display: inline-block;
                        width: 100%;
                        &:last-child {}
                        .col-md-4 {
                            .col-md-2 {
                                padding: 0 20px;
                                i {
                                    color: $orange;
                                }
                            }
                            .col-md-10 {
                                em {
                                    color: $gray;
                                    font-weight: 400;
                                    font-size: 0.9em;
                                }
                                .container-fluid {
                                    padding: 20px 0;
                                    .col-md-9 {
                                        h5 {
                                            color: $skyBlue;
                                            font-size: 20px;
                                            font-weight: 600;
                                            margin: 0;
                                            padding: 3px 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /*about footer*/
      .aboutFooter {
        font-family: $helvetica;
        .container-fluid {
          background:#038EAF; 
            .container {
              .col-md-12{
                .row {
                  padding-top: 60px;
                  padding-bottom: 30px;
                    .col-md-4 {
                        h5{
                         padding-bottom: 10px;
                           font-size: 20px;
                       color:#FFF;
                           font-weight: 500;
                      }
                      &:first-child{
                        .container-fluid {
                            ul {
                                padding: 28% 0;
                                li {
                                    list-style: none;
                                    font-size: 18px;
                                    float: left;
                                    color: $gray;
                                    margin-right: 15px;
                                    background: white;
                                    height: 40px;
                                    width: 40px;
                                    text-align: center;
                                    line-height: 40px;
                                    border-radius: 100%;
                                }
                            }
                            p {
                                font-size: 13px;
                                font-weight: 400;
                                letter-spacing: 0.04em;
                                color: rgba(255, 255, 255, 0.5);
                            }
                        }
                    }
                    &:nth-child(2){
                                        
                      a{
                   color:#fff;
                         font-size: 15px;
                     font-weight: 400;
                    }
                       .infoDemo{
                         color:$orange;
                         font-size: 15px;
                       }
                       span{
                         padding: 10px 0px;
                         color:$orange;
                         padding-right: 10px; 
                         font-size: 1.4em;
                        }
                    }
                  &:nth-child(3){
                     p{
                    font-size: 16px;
                  color:rgba(255, 255, 255, 0.2);
                    padding-bottom: 16px; 
                     }
                     .aboutForm{
                   padding: 20px 0;
                     position: relative;
                }
                .btnAbout{
                    background: $orange;
                    padding:8.5px 30px;
                    font-weight: 500;
                    border: transparent;
                    position: absolute;
                    bottom:15px;
                    font-size: 18px;
                    right:0;
            }
                    }
                }
            }
        }
    }
}
}

}

.dotActive {
    border-radius: 100%;
    background: rgba(24, 175, 211, 0.22);
}
/*about end*/
@media  (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.5em; /* 1.5x default size */
    }
  .brandNav{
       width: 41.66666667%;
  }
   .topAddres{
        width: 33.33333333%; 
  }
  .navBar{
   ul{
    li{
     padding: 1.25em 1em;
      a{
      font-size: .5em;
    }
  }
   }
  }
   .collapseMain{
    display: none;
    }

}
 //\ @media (max-width: 768px){
 //    .navbar-toggle{
 //      display: block;
 //    }
 //  }

@media  (max-width: 992px) { /* screen size until 1000px */
    body {
        font-size: 1.2em; /* 1.2x default size */
        }
  .brandNav{
    width: 50%;
  }
  .topAddres{
        width:100%; 
  }
  

  }
  @media(max-width:768){
    body{

    font-size: 0.7em;
  } 
}
 @media  (min-width: 768px) and (max-width: 992px) { /* screen size until 500px */
    body {
        font-size: 0.8em; /* 0.8x default size */
        }
        .navbar-toggle{
       display: block;
     }
    }
