$orange:#F57E57;
$skyBlue:#18AFD3;
$black:#000;
$white:#fff;
$lightGray:#E5E5E5;
$gray: rgb(134, 134, 134);
$helvetica:"Lato",
Helvetica,
Arial,
sans-serif;
$oswald: 'Oswald',
sans-serif;
.padding-rm {
    padding: 0;
}

.paddingRm-left {
    padding-left: 0;
}

.paddingRm-right {
    padding-right: 0;
}
.navFixed{
	position: fixed;
	top:0;
	width: 100%;
	// left:0;
    
}


.footer-hr {
    position: relative;
    height: 1px;
    padding: 0;
    background: #e5e5e5;
    margin-bottom: 22px;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 1px;
        width: 50px;
        background: $orange;
    }
}

body {
    font-family: $helvetica;
      transition:all 2s ease;

}

.contactUnderLine {
    margin-bottom: 60px;
    padding: 2px;
    width: 80px;
    background: $orange;
}

#contact {
  #mainModal{
    z-index: 90;
  }
    .contactTop {
        padding-top: 35px;
        padding-bottom: 5px;
            .container {
                .row {
                    .col-md-3 {
                        span {
                            a {
                                color: #333333;
                                font-weight: 400;
                                line-height: 26px;
                                font-size: 1.1em;
                            }
                            i {
                                color: $skyBlue;
                            }
                            margin-right: 10px;
                            &:first-child {
                                font-size: .8em;
                                height: 50px;
                                width: 50px;
                                border-radius: 100%;
                                line-height: 60px;
                                text-align: center;
                                background: $lightGray;
                            }
                        }
                    }
                }
            }
        }
    .aboutNav {
    z-index: 100;
    position: relative;
    top: 30px;
    font-family:$oswald;
    .container {
        .row {
            .navBar {
                box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.2);
                border-radius: 7px;
                background: #18AFD3;
            .searchHelp{
                .navInput{
                  display: none;
                  width: 100%;
                  position: absolute;
                  top: 0;
                  right: 0;
                  border-radius: 7px;
                  background: $skyBlue;
                  border: transparent;
                  padding: 12px 15px;
                  color:#fff;
                  font-size: 26px;
                }
                .removeSearch{
                  color:#fff;
                  position: absolute;
                  right: 3%;
                  display: none;
                  top:4px;
                  cursor: pointer;
                  padding: 15px;
                  font-size: 1.2em;
                }
                .navNews{
                  display: none;
                  position: absolute;
                  left: 15px;
                  color: white;
                  pointer-events:none;
                  font-size: 26px;
                  top:10px;
                }
              }
                ul {
                    transition: .5s;
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    .galleryDrop{
                      &:hover{
                        ul{
                        display: block;
                      }
                      .dropIcon{
                        display: block;
                      }
                    }
                }
                    li {
                    
                  .activeNav{
                        background: $orange;
                }
                  .navSearch{
                          font-size: .9em;
                          position: absolute;
                          right: 15px;
                          top:3px;
                          color:#fff;
                          padding: 15px 0;
                        }
                     
                      ul.drop-down{
                       position: absolute;
                       top:100%;
                       left:0%;
                       width: 100%;
                       padding:0;
                       display: none;
                         
                        li{
                         position: relative;
                         background-color: #fff;
                         min-width: 225px;
                         color:black;
                         padding: 18px 10px;
                         overflow: auto;
                         font-size: .9em;
                         box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                  .iconFa{
                    color:$orange;
                    display: none;
                  }
                  a{
                     color:$skyBlue;
                    font-weight: 400;
                    position: relative;
                    left:0;
                    padding: 10px 10px; 
                  }
                        }
                      }
                        &:hover {
                         background: $orange;
                        }
                        float: left;
                        line-height: 100%;
                        cursor: pointer;
                        padding:21px 24px;
                        font-weight: 900;
                        font-size: 1.26em;
                        position: relative;
                        &:last-child{
                          background: transparent;
                        }

                    }
                    a {
                        text-decoration: none;
                        color: #F9FDFE;
                        font-weight: 400;
                    }
                    i {
                        font-size: .5em;
                        color: #fff;
                        margin-left: 5px;
                    }
                }
                .activeNav{
                  background: $orange;
                }
            }
            .pageDown {
                transition:all .2s ease-in-out;
                display: none;
                background: #FFF;
                position: absolute;
                min-width: 1165px;
                top:100%;
                z-index: -66;
                font-family: $helvetica;
                .container-fluid {
                    .row {
                        .col-md-4 {
                            h4 {
                                font-weight: 500;
                            }
                            ul {
                                padding: 0;
                                list-style: none;
                                li {
                                  &:hover{
                                    a{
                                  color: $orange;
                                  }
                                }
                                    position: relative;
                                    cursor: pointer;
                                    font-weight: 500;
                                    padding: 5px 0;
                                    line-height: 38px;
                                .navSearch{
                                     font-size: 1em;
                                     position: absolute;
                                     right: 15px;
                                     top:7px;
                                     padding: 15px 0;
                                    }
                                }
                                .dropIcon {
                                    color: $orange;
                                    font-size: .7em;
                                    display: none;
                                    position: relative;
                                    pointer-events: none;
                                }
                                a {
                                    text-decoration: none;
                                    position: relative;
                                    font-size: 1.1em;
                                    left: 0;
                                    color:$skyBlue;
                                    padding: 15px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
  }
    #contactImg {
        	  background: url(..//img/aboutSlide.jpg);
        	  background-position: center;
              background-size: cover;
              z-index: -5;
        .container {
               letter-spacing: 0.03em;
            h1 {
                font-family: 'PT Sans', sans-serif;
                padding-top: 7%;
                color: white;
                font-weight: 500;
                font-size: 80px;
                line-height: 1.85;
            }
            ul {
                list-style-type: none;
                padding-top: 2.7%;
                padding-bottom: 25px;
                font-size: 13px;
                font-weight: 500;
                li {
                    color: $white;
                    i {
                        color: $lightGray;
                    }
                    a {
                        color: $white;
                    }
                }
            }
        }
    }
    .contactTouch {
        padding: 60px 0;
        .container {
            #comment {
                margin: 0px -15px;
                width: 101.5%;
            }
            .col-md-8 {
                p {
                    font-size: 16px;
                    font-weight: 500;
                    color: #bdbdbd;
                }
                .form-group {
                    color: #bdbdbd;
                }
                .row {
                    button {
                        &:hover {
                            background: $skyBlue;
                        }
                        margin: 20px 0;
                        font-size: 16px;
                        background: $orange;
                        border: transparent;
                        padding: 12px 20px;
                        border-radius:30px;
                    }
                    .col-md-6 {
                        .form-control {
                            padding: 20px 0;
                        }
                    }
                }
            }
            .col-md-4{
                font-family: $oswald;
                .row {
                    padding-left: 15px;
                    padding-bottom: 40px;
                    h5 {
                        font-size: 19px;
                        font-weight: 400;
                        color: #333333;
                    }
                    &:first-child {
                        ul {
                            padding: 0;
                            li {
                                &:hover {
                                    background: $orange;
                                    color: $white;
                                }
                                list-style: none;
                                font-size: 18px;
                                float: left;
                                color: $gray;
                                margin-right: 15px;
                                background: $lightGray;
                                height: 40px;
                                width: 40px;
                                text-align: center;
                                line-height: 39px;
                                border-radius: 100%;
                                cursor:pointer;
                            }
                        }
                    }
                    span {
                        display: inline-block;
                        i {
                            color: $orange;
                            margin: 2px 15px;
                            font-size: 1.4em
                        }
                        a {
                            color: #565757;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
    .contactFooter {
        .container-fluid {
        	background:#038EAF; 
            .container {
            	.col-md-12{
                .row {
                	padding-top: 60px;
                  padding-bottom: 30px;
                    .col-md-4 {
                        h5{
                    	   padding-bottom: 10px;
                           font-size: 20px;
              			   color:#FFF;
                           font-weight: 500;
                    	}
                    	&:first-child{
                        .container-fluid {
                            ul {
                                padding: 28% 0;
                                li {
                                    list-style: none;
                                    font-size: 18px;
                                    float: left;
                                    color: $gray;
                                    margin-right: 15px;
                                    background: white;
                                    height: 40px;
                                    width: 40px;
                                    text-align: center;
                                    line-height: 40px;
                                    border-radius: 100%;
                                }
                            }
                            p {
                                font-size: 13px;
                                font-weight: 400;
                                letter-spacing: 0.04em;
                                color: rgba(255, 255, 255, 0.5);
                            }
                        }
                    }
                    &:nth-child(2){
                                        
                    	a{
             			 color:#fff;
                   	   	 font-size: 15px;
              			 font-weight: 500;
              			}
                       .infoDemo{
                         color:$orange;
                         font-size: 15px;
                       }
                       span{
                         padding: 10px 0px;
                         color:$orange;
                         padding-right: 10px;	
                         font-size: 1.4em;
                        }
                    }
                  &:nth-child(3){
                     p{
              			font-size: 16px;
             			color:rgba(255, 255, 255, 0.2);
              			padding-bottom: 16px; 
              		   }
              		   .aboutForm{
             			 padding: 20px 0;
              			 position: relative;
            		}
            		.btnAbout{
              			background: $orange;
              			padding:8.5px 30px;
              			font-weight: 500;
              			border: transparent;
              			position: absolute;
              			bottom:15px;
              			font-size: 18px;
              			right:0;
            }
                    }
                }
            }
        }
    }
}
}
}
